@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans , sans-serif;
}
nav{
    display: flex;
    position: relative;
    background: black;
    text-align: center;
    width: 100%;
    padding: 15px 30px;
    justify-content: space-between;
}
nav .icon{
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    border: white 4px solid;
    padding: 6px;
    cursor: pointer;
}
nav .search_bar{
    display: flex;
    margin: 15px 400px 10px 20px;
    height: 35px;
    line-height: 35px;
}
#question{
    font-size: 20px;
    background: #fff;
    height: 100%;
    width: 600px;
    padding: 0 10px;
    border: none;
    outline: none;
}
#button{
      background-color: #f42626;
      height: 25px;
      width: 60px;
      font-weight: bolder;
      color: white;
}
.load{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin: 50px 100px
}
.question{
    margin: 50px 10px 50px 250px;
}
.title{
    font-weight:bolder;
}
.question.quesBody{
    font-weight: lighter;
}



